/* Write your CSS code here */
.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 250px;
  font-family: 'Roboto';
}
.profile-pic {
  height: 150px;
  width: 150px;
  margin: 10px;
}
h1 {
  font-size: 25px;
  color: #12022f;
}
p {
  font-size: 18px;
  color: #616e7c;
  margin-top: 0px;
}
